<%- include('./inc/header') %>


<div class="w-full h-screen text-white p-10">
            
        <h3 class="text-3xl mb-5 text-black">Hello,<%= user.name%> 👋</h3>
        <h5 class="mb-5 text-black">Susi Bags</h5>
      
        
    </div>

   <%- include('./inc/footer') %>